[report]
omit =
    */python?.?/*
    */__pycache__/*
    */api/endpoints/__init__.py
    */api/model/__init__.py
    */api/validators/__init__.py 
    */api/views/__init__.py
    */tests/__init__.py 
    */api/__init__.py 
    */api/config.py                                
    */api/validators/*
    */api/views/views.py
    *.pyc  
    */run.py 
    */api/token/__init__.py
    */api/views/orders.py
    */api/views/get_specific_user_orders.py
    */api/views/update_order_present_location.py
    */api/views/update_order_status.py
    */api/views/users.py
    */api/helpers/token_required.py
    */api/helpers/__init__.py
    */api/model/black_list_tokens.py
    */api/views/update_order_present_location.py
    */api/views/get_specific_user_order.py 
    */api/views/get_specific_user_orders.py 
    */api/views/orders.py
    */api/model/orders.py
    */api/views/users.py 
    */api/views/cancel_order.py
    */api/helpers/drop_tables.py



    
